# IMPORTS

In [39]:
# import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os 
import csv 
from sqlalchemy import create_engine

# IMPORT DATA SOURCES

In [40]:
# File to Load
file_to_load = "nyc-jobs.csv"

# Read nyc jobs file into Pandas data frame
raw_jobs_data = pd.read_csv(file_to_load)

raw_jobs_data.head()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,87990,DEPARTMENT OF BUSINESS SERV.,Internal,1,Account Manager,CONTRACT REVIEWER (OFFICE OF L,40563,1,NaN,NaN,...,"Salary range for this position is: $42,405 - $...",NaN,NaN,NaN,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,NaN,2011-06-24T00:00:00.000,2019-07-30T00:00:00.000
1,97899,DEPARTMENT OF BUSINESS SERV.,Internal,1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,10009,M3,NaN,F,...,NaN,"In addition to applying through this website, ...",NaN,NaN,NaN,New York City residency is generally required ...,2012-01-26T00:00:00.000,NaN,2012-01-26T00:00:00.000,2019-07-30T00:00:00.000
2,132292,NYC HOUSING AUTHORITY,External,52,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,90698,0,Maintenance & Operations,F,...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,NaN,2013-12-12T00:00:00.000,2019-07-30T00:00:00.000
3,132292,NYC HOUSING AUTHORITY,Internal,52,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,90698,0,Maintenance & Operations,F,...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,NaN,2013-12-12T00:00:00.000,2019-07-30T00:00:00.000
4,133921,NYC HOUSING AUTHORITY,Internal,50,Temporary Painter,PAINTER,91830,0,Maintenance & Operations,F,...,SPECIAL NOTE: 1. This is a temporary assig...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirement.,2014-01-09T00:00:00.000,NaN,2014-01-08T00:00:00.000,2019-07-30T00:00:00.000

# CREATE DATA FRAME WITH SELECTED VARIABLES

In [41]:
# Select Job ID, Agency, Business Title, # Of Positions, Business Title,Job Category, Salary Range From, Salary Range To, 
# Work Location, Work Location 1

raw_jobs_df = pd.DataFrame(jobs_data)

In [42]:
raw_jobs_df.head()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,87990,DEPARTMENT OF BUSINESS SERV.,Internal,1,Account Manager,CONTRACT REVIEWER (OFFICE OF L,40563,1,NaN,NaN,...,"Salary range for this position is: $42,405 - $...",NaN,NaN,NaN,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,NaN,2011-06-24T00:00:00.000,2019-07-30T00:00:00.000
1,97899,DEPARTMENT OF BUSINESS SERV.,Internal,1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,10009,M3,NaN,F,...,NaN,"In addition to applying through this website, ...",NaN,NaN,NaN,New York City residency is generally required ...,2012-01-26T00:00:00.000,NaN,2012-01-26T00:00:00.000,2019-07-30T00:00:00.000
2,132292,NYC HOUSING AUTHORITY,External,52,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,90698,0,Maintenance & Operations,F,...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,NaN,2013-12-12T00:00:00.000,2019-07-30T00:00:00.000
3,132292,NYC HOUSING AUTHORITY,Internal,52,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,90698,0,Maintenance & Operations,F,...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,NaN,2013-12-12T00:00:00.000,2019-07-30T00:00:00.000
4,133921,NYC HOUSING AUTHORITY,Internal,50,Temporary Painter,PAINTER,91830,0,Maintenance & Operations,F,...,SPECIAL NOTE: 1. This is a temporary assig...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirement.,2014-01-09T00:00:00.000,NaN,2014-01-08T00:00:00.000,2019-07-30T00:00:00.000

In [47]:
# jobs_df['Job Category'].value_counts()
# len(jobs_df) - jobs_df['Job Category'].count()
# jobs = raw_jobs_df.dropna()

new_jobs_df = raw_jobs_df[["Job ID", "Agency", "Business Title", "# Of Positions", "Business Title","Job Category", "Salary Range From", "Salary Range To","Work Location"]] 
new_jobs_df.head()

,Job ID,Agency,Business Title,# Of Positions,Business Title,Job Category,Salary Range From,Salary Range To,Work Location
0,87990,DEPARTMENT OF BUSINESS SERV.,Account Manager,1,Account Manager,NaN,42405.00,65485.00,110 William St. N Y
1,97899,DEPARTMENT OF BUSINESS SERV.,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",NaN,60740.00,162014.00,110 William St. N Y
2,132292,NYC HOUSING AUTHORITY,Maintenance Worker - Technical Services-Heatin...,52,Maintenance Worker - Technical Services-Heatin...,Maintenance & Operations,51907.68,54580.32,Heating Mgt-Operations
3,132292,NYC HOUSING AUTHORITY,Maintenance Worker - Technical Services-Heatin...,52,Maintenance Worker - Technical Services-Heatin...,Maintenance & Operations,51907.68,54580.32,Heating Mgt-Operations
4,133921,NYC HOUSING AUTHORITY,Temporary Painter,50,Temporary Painter,Maintenance & Operations,35.00,35.00,DMP-Contract & Analysis Unit

In [54]:
jobs_nan = new_jobs_df[new_jobs_df["Job Category"].isnull()]
jobs_nan

,Job ID,Agency,Business Title,# Of Positions,Business Title,Job Category,Salary Range From,Salary Range To,Work Location
0,87990,DEPARTMENT OF BUSINESS SERV.,Account Manager,1,Account Manager,NaN,42405.0,65485.0,110 William St. N Y
1,97899,DEPARTMENT OF BUSINESS SERV.,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",NaN,60740.0,162014.0,110 William St. N Y